<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form @submit.prevent="search()" class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input required v-model="keyword" class="form-control form-control-lg form-control-borderless" placeholder="Search topics or keywords">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" @click="search(false)">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>

        <div class="result-list">
            <h6 v-if="this.totalResults">about {{this.totalResults}} results found.</h6>
            <article v-for="(article, index) in articles" :key="index" @click="navTo(article.url)">
                <header>
                    <img v-if="article.urlToImage" :src="article.urlToImage" alt="">
                    <i v-else class="fas fa-image"></i>
                </header>
                <section v-html="article.title"></section>
                <footer>
                    <i class="fas fa-chevron-right"></i>
                </footer>
            </article>
        </div>
        <div class="text-center" v-if="showNoResult">
            <h4>No Results Found.</h4>
        </div>
        <div ref="infinitescrolltrigger" id="scroll-trigger">
            <div v-if="isLoading"  class="text-center spinner">
                <i class="fas fa-spinner fa-spin text-center" style="font-size: 70px"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                isLoading: false,
                showNoResult: false,
                currentPage: 1,
                pageSize : 20,
                keyword: '',
                totalResults:'',
                articles: [],
            }
        },
        computed: {
            pageCount() {
                return Math.ceil(this.totalResults/this.pageSize);
            }
        },
        methods: {
            async search(same){
                this.isLoading =true;
                this.totalResults = "";
                this.articles = !same ? [] : this.articles ;
                await this.axios.get('/api/search?q='+this.keyword+'&page='+this.currentPage+'&page_size='+this.pageSize).then(response=>{
                    this.totalResults = response.data.totalResults;
                    let data = response.data.articles;
                    if(data.length == 0){
                        this.showNoResult = true
                    }else{
                        this.showNoResult = false
                    }
                    data.forEach(element => {
                        this.articles.push(element);
                    });
                    this.isLoading = false
                }).catch(error=>{
                    console.log(error)
                })

                this.isLoading = false
            },
            navTo(url) {
                window.open(url);
            },
            scrollTrigger() {
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach(entry => {
                        if(entry.intersectionRatio > 0 && this.currentPage < this.pageCount) {
                            this.currentPage += 1;
                            this.search(true);
                        }
                    });
                });
                observer.observe(this.$refs.infinitescrolltrigger);
            }
        },
        created() {
        },
        mounted() {
            this.scrollTrigger();
        }
    }
</script>

<style lang="scss" scoped>
    .container {
        .spinner {
            margin-top: 10%;
        }
        .result-list {
            padding-top: 60px;
        }
        article {
            display: grid;
            grid-template-columns: 200px auto 40px;
            grid-template-rows: 100px;
            border-bottom: 1px solid #ccc;
            overflow: hidden;
            cursor: pointer;
            header {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img {
                    max-width: 100%;
                    height: auto;
                }
                i {
                    font-size: 2rem;
                }
            }
            section {
                margin: 0;
                padding: 10px;
                height: 100px;
            }
            footer {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.6rem;
                color: #888;
            }
        }
        #scroll-trigger {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100px;
            font-size: 1.6rem;
        }
    }
</style>
